<%= form_tag('/creational/prototype', method: 'post') do %>
    <%= label_tag(:choice, 'Choice:') %>
    <%= select_tag(:choice, options_for_select([['Larry', 1], ['Moe', 2], ['Curly', 3]])) %>
    <%= submit_tag('Make choice') %>
<% end %>

<ul>
    <% if @role != nil %>
        <li><%= @role.slapStick %></li>
    <% end %>
</ul>

<p>Código:</p>

<pre><code>class Stooge
end

class Larry < Stooge
    def clone
        Larry.new
    end

    def slapStick
        'Larry: poke eyes'
    end
end

class Moe < Stooge
    def clone
        Moe.new
    end

    def slapStick
        'Moe: slap head'
    end
end

class Curly < Stooge
    def clone
        Curly.new
    end

    def slapStick
        'Curly: suffer abuse'
    end
end

class Factory
    @@s_prototypes = [0, Larry.new, Moe.new, Curly.new]

    def self.makeStooge(choice)
        if choice != nil and choice != 0
            @@s_prototypes[choice].clone
        end
    end
end</code></pre>
